<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPYPnDIm-YjGEkpNU5kh4tEpHoUuGgJxY</string>
	<key>GCM_SENDER_ID</key>
	<string>575895008319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.videoApplication</string>
	<key>PROJECT_ID</key>
	<string>socia-video-app</string>
	<key>STORAGE_BUCKET</key>
	<string>socia-video-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575895008319:ios:4e9fe89d61c6838894b48a</string>
	<key>DATABASE_URL</key>
	<string>https://socia-video-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>